<div class="shop-container">
    <div class="presentation-message">
        <div
            class="presentation-message__title self-center text-2xl font-semibold whitespace-nowrap dark:text-white text-center w-full px-6 pt-6">
            Welcome!!👋
        </div>
        <div
            class="presentation-message__description self-center text-base font-normal whitespace-nowrap dark:text-white text-center w-full px-3 pt-3 pb-6">
            Find clothing, accessories, and much more...
        </div>
    </div>
    <app-product-list></app-product-list>
</div>