<section>
    <div class="presentation-message">
        <div
            class="presentation-message__title self-center text-4xl font-semibold whitespace-nowrap dark:text-white text-center w-full py-10">
           Our Costumer Services
        </div>
    </div>
    <div
        class="grid mb-8 border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 md:mb-12 md:grid-cols-3 bg-white dark:bg-gray-800 m-6">
        <figure
            class="flex flex-col items-center justify-start p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">
            <figcaption class="flex items-center justify-center ">
                <img class="w-28 h-28" src="assets/images/services/service_1.svg" alt="services picture">
            </figcaption>
            <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Size Guide</h3>
                <p class="my-4 text-sm">Sizes vary between brands but don’t worry, you’ll find a chart alongside
                    each item.</p>
            </blockquote>
        </figure>
        <figure
        class="flex flex-col items-center justify-start p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">
        <figcaption class="flex items-center justify-between ">
            <img class="w-28 h-28" src="assets/images/services/service_2.svg" alt="services picture">
        </figcaption>
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Exchanges & Returns</h3>
            <p class="my-4 text-sm">Our exchange and refund policy
                ensures an easy and hassle-free
                process for everyone.</p>
        </blockquote>
        </figure>
        <figure
    class="flex flex-col items-center justify-startn p-8 text-center bg-white border-b border-gray-200 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-gray-800 dark:border-gray-700">
        <figcaption class="flex items-center justify-center ">
            <img class="w-28 h-28" src="assets/images/services/service_3.svg" alt="services picture">
        </figcaption>
        <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-400">
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Terms & Conditions</h3>
            <p class="my-4 text-sm">For a smooth browsing and
                shopping experience, we've outlined
                our rules, regulations, and policies
                on purchases in our Terms and
                Conditions.</p>
        </blockquote>
        </figure>
    </div>
</section>