<section class="flex flex-col">
    <div class="presentation-message">
        <div
            class="presentation-message__title self-center text-3xl font-semibold whitespace-nowrap dark:text-white text-center w-full py-10 sm:text-4xl px-4">
           Arrivals
        </div>
    </div>
    <div class="flex gap-8 flex-wrap justify-center ">
        @if(products.length) {
            @for(product of products; track product.id) {
                <div class="w-4/5 md:w-2/3 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col justify-between">
                    <a [href]="'/product/' + product.id" class="h-fit">
                        <img class="p-8 rounded-t-lg" src={{product.image}} alt="product image" />
                    </a>
                    <div class="px-5 pb-5">
                        <a [href]="'/product/' + product.id">
                            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white py-6 text-center">{{product.title}}</h5>
                        </a>
                        <div class="flex flex-col sm:flex-row items-center justify-between gap-y-3">
                            <span class="text-3xl font-bold text-gray-900 dark:text-white">$ {{product.price}}</span>
                            <a href="#" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add to cart</a>
                        </div>
                    </div>
                </div>
            }  
        }
        
    </div>
</section>